.nav-content img{
    height: 100px;
}

.nav-content{
    position: fixed;
    z-index: 1;
    padding-left: 0.3rem;
    padding-top: 0.6rem;
    top: 0;
    width: 100%;

}

.nav-black{
    background-color: black;
    width: 100%;
}